@page "/"
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Wypożyczalnia Filmów</PageTitle>

<h1 style="text-align:center;">Witamy w Wypożyczalni Filmów Uzar!</h1>

<div style="text-align:center; margin-top:32px;">
    <a href="/login" style="margin-right: 20px;"><button>Zaloguj się</button></a>
    <a href="/register"><button>Zarejestruj się</button></a>



</div>

